.css-test {
  h1 {
    text-align: center;
    font-size: 30px;
    color: royalblue;
    margin-top: 50vh;
    transform: translateY(-50%);
  }

  button {
    display: block;
    padding: 5px 20px;
    margin: 10px auto;
    cursor: pointer;
  }
}

input {
  &::placeholder {
    // This should be prefixed
    color: red;
  }
}
